
## DB Credentials ##
DB_NAME=cord4
DB_USER=your-db-user 
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

## Email Sending Credentials ##
EMAIL_HOST_USER=your-gmail-email
EMAIL_HOST_PASSWORD=your-gmail-password

TOKEN_SECRET_KEY=your-very-secure-secret-key
